body.mrge-iframe-body {
    white-space: pre-line; /* CSS 3.0 */
    word-wrap: break-word; /* IE 5+ */
}

.mrge-iframe-body * {
    padding: 0;
    margin: 0;
}

/* Blocks */

.mrge-content-block {
    position: relative;
}

.mrge-content-block.mrge-left-side {
    float: left;
    clear: left;
    margin: 15px 15px 15px 0;
}

.mrge-content-block.mrge-right-side {
    float: right;
    clear: right;
    margin: 15px 0 15px 15px;
}

.mrge-content-block img {
    display: block;
    border: none;
    outline: none;
}

.mrge-content-block-container {
    display: none;
}

.mrge-content-block-move-action {
    height: 30px;
    width: 30px;
    background-color: red;
    position: absolute;
    cursor: pointer;
}

.mrge-content-block-top {
    top:0;
    left: 50%;
    margin-left: -20px;
    background: url(/assets/morrigan_editor/main.png) no-repeat no-repeat -48px -47px;
}

.mrge-content-block-bottom {
    bottom:0;
    left: 50%;
    margin-left: -20px;
    background: url(/assets/morrigan_editor/main.png) no-repeat no-repeat -86px -47px;
}

.mrge-content-block-close {
    top:0;
    right: 0;
    background-color: green;
    height: 30px;
    width: 30px;
    position: absolute;
    cursor: pointer;
    background: url(/assets/morrigan_editor/main.png) no-repeat no-repeat -123px -47px;
}