body.mrge-iframe-body {
    white-space: pre-line; /* CSS 3.0 */
    word-wrap: break-word; /* IE 5+ */
}

.mrge-iframe-body * {
    padding: 0;
    margin: 0;
}

/* Blocks */

.mrge-content-block {

}

.mrge-content-block.mrge-left-side {
    float: left;
    clear: left;
    margin: 15px 15px 15px 0;
}

.mrge-content-block.mrge-right-side {
    float: right;
    clear: right;
    margin: 15px 0 15px 15px;
}

.mrge-content-block img {
    display: block;
    border: none;
    outline: none;
}

.mrge-content-block-container {
    position: absolute;
    display: none;
}

.mrge-content-block-container .mrge-content-block-overlay {
    background-color: gray;
    opacity: 0.3;
    width: 100%;
    height: 100%;
}

.mrge-content-block-container .mrge-content-block-move-action {
    height: 40px;
    width: 40px;
    background-color: red;
    position: absolute;
    cursor: pointer;
}

.mrge-content-block-container .mrge-content-block-top {
    top:0;
    left: 50%;
    margin-left: -20px;
}

.mrge-content-block-container .mrge-content-block-bottom {
    bottom:0;
    left: 50%;
    margin-left: -20px;
}

.mrge-content-block-container .mrge-content-block-close {
    top:0;
    right: 0;
    background-color: green;
    height: 40px;
    width: 40px;
    position: absolute;
    cursor: pointer;
}