*.rbc
*.sassc
.sass-cache
capybara-*.html
.rspec
/.bundle
/vendor/bundle
/log/*
/tmp/*
/db/*.sqlite3
/public/system/*
/coverage/
/spec/tmp/*
**.orig
rerun.txt
pickle-email-*.html

.bundle
.config
InstalledFiles
lib/bundler/man
pkg
spec/reports
test/tmp
test/version_tmp
tmp

.idea
Gemfile.lock
.bundle/
log/*.log
test/dummy/db/*.sqlite3
test/dummy/log/*.log
test/dummy/tmp/
test/dummy/.sass-cache

node_modules
