<p>asd asd <strong>asd</strong> iop iop</p>
<form><input type="file" name="upload_img" id='ololo'/></form>
<div id="test"></div>
<div style="height: 100px;width: 100px;background: green;" onclick="console.log(editor.morrigan_editor('html')); $('#ololo').click();"></div>